
/*letras*/



/*hasta aqui las letras*/

.container_all{
    position: relative;
    right: 0;
    transition: all 300ms;
}
/*COVER*/

.cover{
    width: 100%;
    padding-bottom: 120px;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}

/*WAVE INICIO*/

.bg_color{
    width: 100%;
    height: 70%;
    background: #2196f3;
    position: absolute;
    top: 0;
}

.wave{
    width: 6000px;
    height: 100%;
    position: absolute;
    top: 150px;
    left: 0;
    background-image: url(/img/wd1.svg);
    background-position: bottom;
}

.w1{
    animation: w1 7s linear infinite;
}

.w2{
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
}
@keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}
@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-25px);
    }

    50%{
        transform: translateY(10px);
    }
}
 /*WAVE FINAL*/

 .container__cover{
    max-width: 1200px;
    margin: 100;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    *background-image: url(/img/background-cover.svg);
    background-size: cover;
    background-position: bottom;
    
}
.cover .container__info{
    max-width: 400px;
    margin-top: 40px;
}
.cover h1{
    max-width: 400px;
    font-size: 55px;
    font-weight: 800;
    color: #fff;
}

.cover h2{
    font-size: 50px;
    font-weight: 900;
    color: #000000;
    margin-top: -30px;
}

.cover p{
    margin-top: 10px;
    color: #fff;
}
.container__vector{
    position: relative;
}
.container__vector img{
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 600px;
    transition: all 300ms;
    animation: move_vector 6s ease-in-out infinite;
}
/*animacion burbujas*/

.burbujas div{
  background: rgb(41, 135, 163);
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  animation: animarburbujas 4s linear infinite;

  box-shadow: inset 0 0 10px rgba(24, 38, 230, 0.7);
}
.burbujas div:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(#fff,transparent);
  border-radius: 50%;
}
  
  .burbujas div:nth-child(1){
    width: 39px;
    height: 39px;
    left: 10px;
    animation-duration: 5s;
  }
  
  .burbujas div:nth-child(2){
    width: 23px;
    height: 23px;
    left: 92%;
    animation-duration: 10s
  }
  
  .burbujas div:nth-child(3){
    width: 12px;
    height: 12px;
    left: 97%;
    animation-duration: 7s;
  }
  
  .burbujas div:nth-child(4){
    width: 53px;
    height: 53px;
    left: 93%;
    animation-duration: 12s;
  }
  
  .burbujas div:nth-child(5){
    width: 37px;
    height: 37px;
    left: 12%;
    animation-duration: 16s
  }
  
  .burbujas div:nth-child(6){
    width: 27px;
    height: 27px;
    left: 87%;
    animation-duration: 4s;
  }
  
  .burbujas div:nth-child(7){
    width: 42px;
    height: 42px;
    left: 8%;
    animation-duration: 9s;
  }
  
  @keyframes animarburbujas{
    0%{
        width: 0;
        height: 0;
    }
    3%{
        width: 30px;
        height: 30px;
    }
    50%{
        margin-left: 45px;
        opacity: 0.5;
    }
    100%{
        transform: rotate(90deg);
        bottom: 167vh;
        background: rgb(107, 230, 247);
    }
  }

  /*contenido*/
  .grid-container {
    display: grid;
    grid: 1fr;
    grid-gap: 10px;

    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .cartaimg1{
    height: 50%;
    width: 50%;
    align-items: center;
  }
  .carta_p{
    padding: 10px;
    text-align: left;
    text-align: center;
    color: #000000;
  }
  .contenido_carta{
    align-items: lef;
  }
  .lista-de-ventajas{
    padding: 10px;
    font-size: 25px;
    color: #000000;
text-align: center;
  }