*
body{
    overflow-x: hidden;
}

section{
    padding: 4.4rem;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

img{
    max-width: 40%;
    width: 363px;
    height: 231px;
}

img::before{
    content: "";
    position: fixed;
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;

}

.btn{
    display: inline block;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn{
    font-size: 1.1rem;
}

.fill{
    text-transform: uppercase;
    font-size: 2.2rem;
}