*
body{
    overflow-x: hidden;
}

section{
    padding: 4.4rem;
    overflow: hidden;
    align-items: center;
    text-align: center;
   
}

.container1, .container3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4rem;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%px;
    justify-content: center;
    align-items: center;
    padding: space-between;
}
.btn-1, .btn-2, .btn-3{
    height: 45px;
    line-height: 45px;
    width: 30%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(155, 179, 251);
    border-radius: 4px;
    cursor: pointer;
    float: left;
    z-index: 1;  
}

.contenedor-img1{
    height: 96%;
    width: 100%;
}
.contenedor-img2{
    height: 96%;
    width: 100%;
    }

.contenedor-img3{
    padding-top: 30px;
    height: 90%;
    width: 72%;
    padding-left: 150px;
}